.jumbotron {
  background-color: white;
  width: 100%;
}

#logo {
  text-align: center;
}

.hr {
  border-color: #009999;
  width: 90%;
}

#h3 {
  text-align: center;
}

#game {
  color: #009999;
}

#click {
  background-color: #009999;
  width: 70px;
  height: 35px;
  border-radius: 4px;
  border: 0px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

.image {
  width: 90%;
}

#input {
  width: 200px;
  height: 35px;
  margin-top: 2%;
}

#form-text {
  align-self: center;
  align-items: center;
}

#results {
  text-align: center;
}

#list {
  list-style-type: none;
}
